{
    email {$ACME_EMAIL}
}
{$CARI_DOMAIN} {
    encode gzip zstd
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        -Server
    }
    reverse_proxy frontend:8080
}
